<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- OrderID Column -->
  <ng-container matColumnDef="orderid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="orderid"> Order Id </th>
    <td mat-cell *matCellDef="let element"> <div class="table-orderid-link" (click)="showOrderDetail(element)" >
      {{element.orderid}}
    </div> </td>
  </ng-container>

  <!-- ServiceNumber Column -->
  <ng-container matColumnDef="servicenumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="servicenumber" class="hide-column"> Service Number </th>
    <td mat-cell *matCellDef="let element" class="hide-column"> {{element.servicenumber}} </td>
  </ng-container>

  <!-- SegmentGroup Column -->
  <ng-container matColumnDef="segmentgroup" class="hide-column">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="segmentgroup"> Segment group </th>
    <td mat-cell *matCellDef="let element"> {{element.segmentgroup}} </td>
  </ng-container>

  <!-- ProductName Column -->
  <ng-container matColumnDef="productname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="productname" class="hide-column"> Product Name </th>
    <td mat-cell *matCellDef="let element" class="hide-column"> {{element.productname}} </td>
  </ng-container>

  <!-- Orderstatus Column -->
  <ng-container matColumnDef="orderstatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="orderstatus"> Order Status </th>
    <td mat-cell *matCellDef="let element"> {{element.orderstatus}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->